/* regular font */
@font-face {font-family: "Apercu Pro"; src: url("//db.onlinewebfonts.com/t/0406c39d71726a4efe1134bf8e3feb71.eot"); src:
  url("//db.onlinewebfonts.com/t/0406c39d71726a4efe1134bf8e3feb71.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/0406c39d71726a4efe1134bf8e3feb71.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/0406c39d71726a4efe1134bf8e3feb71.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/0406c39d71726a4efe1134bf8e3feb71.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/0406c39d71726a4efe1134bf8e3feb71.svg#Apercu Pro") format("svg"); }
/* bold font */
@font-face {font-family: "Apercu Pro"; src: url("//db.onlinewebfonts.com/t/bbecd6e12f97db669f1cbab12fc6d06b.eot"); src:
  url("//db.onlinewebfonts.com/t/bbecd6e12f97db669f1cbab12fc6d06b.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/bbecd6e12f97db669f1cbab12fc6d06b.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/bbecd6e12f97db669f1cbab12fc6d06b.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/bbecd6e12f97db669f1cbab12fc6d06b.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/bbecd6e12f97db669f1cbab12fc6d06b.svg#Apercu Pro") format("svg");
  font-weight: bold; }

/*reset CSS */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Apercu Pro', -apple-system, Helvetica, Arial, sans-serif !important;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

p {
  font-size: 14px;
  margin: 1rem 0px;
  white-space: pre-wrap;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

a, a:focus, a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
}

.input {
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  border-bottom: 1px solid #000;
  padding-left: 10px;
  width: 100%;
  height: 45px;
  overflow-x: hidden;
  -webkit-transition: border-color .2s ease,padding-top .2s ease,margin-top;
  -o-transition: border-color .2s ease,padding-top .2s ease,margin-top;
  transition: border-color .2s ease,padding-top .2s ease,margin-top;
}

.select {
  border: 0;
  border-bottom: 1px solid #000;
  min-height: 43px;
  font-family: 'Apercu Pro', -apple-system, Helvetica, Arial, sans-serif !important;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  padding: 7px 25px 7px 14px;
  background-color: #fff;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjMyIiB3aWR0aD0iMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS4wMDUgOS4yNThsMi43Ni0yLjc1OSAxMy40NzcgMTMuNDc2TDI5LjI0NiA2Ljk2OWwyLjc2IDIuNzYtMTUuNzY0IDE1Ljc2NXoiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: 95% 55%;
  background-size: 14px;
  border-radius: 0;
  -webkit-appearance: none;
}

/* Buttons */
.button--block {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 100%;
  max-width: 300px;
  font-weight: 700;
  -webkit-appearance: none;
  text-align: center;
  opacity: 1;
  min-height: 45px;
  cursor: pointer;
  padding: 9px 20px 7px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-image: initial;
  border-radius: 3px;
  margin: 15px 0px;
}

.button--white {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-image: initial;
}

.button--transparent {
  background-color: transparent;
  -webkit-appearance: none;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: inherit;
  fill: rgb(0, 0, 0);
  margin: 0px 0px 2px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  flex: 1 1 0%;
  padding: 6px;
}

/* Styling for rating star */
path.star {
  stroke: #000000;
  stroke-width: 1.5px;
  stroke-linejoin: round;
}

#Reviews {
  margin: 16px 64px 24px;
}

/*styling for arrows */
.up-arrow {
  box-sizing: border-box;
  display: flex;
}

.down-arrow {
  box-sizing: border-box;
  display: flex;
  transform: rotate(180deg);
}

/* */
.header {
  background-image: url('./img/header.png');
  height: 130px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.productDetail {
  background-image: url('./img/productDetail.png');
  background-repeat: no-repeat;
  min-height: 600px;

}

.main-wrapper {
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  margin: 0 -16px;
}

.gutter-left {
  padding: 0 16px;
  flex-basis: 8.33333%;
  width: 8.33333%;
  max-width: 8.33333%;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

.productImage {
  background-image: url('./img/productImage.png');
  background-repeat: no-repeat;
  min-height: 516px;
  height: 100%;
  padding: 0 16px;
  position: sticky;
  top: 96px;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 41.6667%;
  width: 41.6667%;
  max-width: 41.6667%;
}

.productHighlights-wrapper {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 41.6667%;
  max-width: 41.6667%;
  padding: 0 16px;
}

/* */
.highlights-wrapper {
  border-bottom: 1px solid rgb(217, 217, 217);
  border-top: 1px solid rgb(217, 217, 217);
}

.highlights--header {
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  padding: 20px 16px 20px 0px;
}

.highlights--header h3 {
  font-style: inherit;
  white-space: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0px;
}

.highlights--header button {
  cursor: pointer;
  top: -2px;
  position: relative;
  font-size: 30px;
  line-height: 22px;
  font-weight: 400;
  align-self: flex-start;
  padding: 0px;
  background: transparent;
  border: none;
  width: 30px;
  height: 30px;
  outline: none;
}

/* */
#reviews-accordion {
  max-height: 4000px;
  text-align: left;
  overflow: hidden;
  transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  box-sizing: border-box;
  background-color: rgb(243, 246, 246);
  padding: 0 16px 16px 16px;
}

#reviews-accordion h3 {
  font-family: "Apercu Pro", -apple-system, BlinkMacSystemFont, Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  padding: 20px 0px 18px;
}

#reviews-accordion h4 {
  font-size: 16px;
  line-height: 22px;
  margin: 6px 0px;
}

#reviews-accordion li {
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px;
  padding: 16px;
  background: rgb(255, 255, 255);
  border-radius: 3px;
}

#reviews-accordion ul > li:not(:last-child) {
  margin-bottom: 10px;
}

button.readAll {
  font-family: "Apercu Pro", -apple-system, BlinkMacSystemFont, Helvetica, "Helvetica Neue", Arial, sans-serif;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  background: transparent;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 0px;
  text-decoration: none;
  margin: 16px auto 0px;
}

button.readAll div {
  border-bottom: 1px solid rgb(0, 0, 0);
}

button.readAll span:first-child {
  color: rgb(0, 0, 0);
  font-family: "Apercu Pro", -apple-system, BlinkMacSystemFont, Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-style: inherit;
  font-weight: 400;
  white-space: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 0px;
}

button.readAll span:last-child {
  color: rgb(0, 0, 0);
  font-family: "Apercu Pro", -apple-system, BlinkMacSystemFont, Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-style: inherit;
  font-weight: 400;
  white-space: normal;
  font-size: 11px;
  line-height: 11px;
  position: relative;
  bottom: 1px;
  left: 2px;
  display: inline-block;
  margin: 0px;
}

/* */
p.helpful {
  font-style: inherit;
  font-weight: 400;
  white-space: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgb(85, 85, 85);
  margin: 8px 0px 0px;
}

/* 'Read More' & 'See Less' buttons */
.clamp-lines__button {
  font-weight: 700;
  text-align: left;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  background: transparent;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 0px;
  margin: 0px;
  text-decoration: underline;
}

#clamped-content-truncated {
  line-height: 1.5;
}

/* Counter and post review button */
.counter-header {
  text-align: center;
  align-items: center;
  display: flex;
  flex-flow: column wrap;
}

.counter-header p {
  margin-top: 0px;
  margin-bottom: 20px;
}

.counter-header-rating {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.1;
  padding: 7px 2px 5px;
}

/* review list*/
.review-article {
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  border-top: 1px solid #000;
  padding: 30px 0 3%;
}

.review-article section, .review-content {
  display: flex;
  flex-flow: column wrap;
}

.review-content {
  padding-left: 5%;
}

/*user info in review list */
.review-user-info {
  width: 200px;
}

.review-display-name {
  font-weight: 700;
  font-size: 14px;
  margin: initial;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.review-display-location {
  margin: initial;
}

.review-user {
  margin-top: 15px;
  width: fit-content;
  list-style: none;
  padding-top: 15px;
  font-size: 14px;
  line-height: 1.4;
}

/* review content */
.review-text-container {
  width: 570px;
}

.review-content-header {
  display: flex;
  flex-flow: column wrap;
}

.review-title {
  font-size: 18px;
  margin-top: 0;
}

.review-bottom-line {
  margin-bottom: 0;
}

.review-bottom-line b {
  margin-right: 15px;
}

.review-footer-container {
  margin: 0;
  display: inline;
}

.review-footer-text {
  margin-bottom: 0;
  margin-right: 5px;
  font-weight: 700;
}

span.helpful {
  font-size: 18px;
  line-height: 24px;
  margin: 1rem 0px;
}

/* Search Bar styling*/
.noResults {
  margin-top: 1.5rem;
  text-align: center;
}

.reviews-search-sort {
  background-color: #f3f6f6;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.reviews-search-sort div {
  margin: 15px;
}

.reviews-search-sort .input-container {
  margin: 0;
}

.reviews-search-input {
  justify-content: center;
  display: flex;
  height: fit-content;
}

.input-container {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-wrap: wrap;
}

#review-search {
  font-family: "Apercu Pro", -apple-system, BlinkMacSystemFont, Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px!important;
  height: 43px;
  width: 205px;
  padding-right: 5px;
}

.reviews-search-button {
  -webkit-appearance: none;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  fill: rgb(0, 0, 0);
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  flex: 1 1 0%;
}

.reviews-filter {
  display: flex;
  flex-flow: column nowrap;
  height: fit-content;
}

.reviews-filter-container {
  display: inherit;
}

.review-clear-filters {
  text-transform: lowercase;
  width: fit-content;
  height: fit-content;
  background: transparent;
  border: 0;
  text-decoration: underline;
  margin: 29px 0 0;
  padding: 0;
  font-weight: 400;
}

/* pagination styling */
.reviews-scroll-to-top {
  color: #00f;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  width: auto;
  flex: 0 0 100%;
  text-transform: none;
  background: transparent;
  border: 0;
  text-decoration: underline;
  margin: 0;
  padding: 0;

}

ul.pagination {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex: 0 0 100%;
}

ul.pagination li {
  /* min-height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center; */
  width: 100%;
}

ul.pagination a {
  color: rgb(0, 0, 255);
  font-size: 14px;
  min-height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

ul.pagination .active {
  display: none;
}